
$primary: #12123C;
$success: #9AC31C;
$info: #16BECF;
$white: #FFFFFF;
$link-color: #16BECF;
$danger: #dc3545;

$theme-colors: (
  "primary":    $primary,
  "success":    $success,
  "info":       $info,
  "white":       $white,
  "link-color": $link-color,
  "danger": $danger,
);

$custom-colors:();

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap';
